.drink-page{
  padding: 12px 10px 0 20px;
  position: relative;
  &__img{
    position: absolute;
    top: 30px;
    right: 26px;
    width: 20%;
    display: block;
    margin: 0 auto;
  }

  &__wrapper{
    margin: 30px;
  }
  &__title{
    display: block;
    @media (min-width: 768px) {
      font-size: 18px;
    }
    font-size: 16px;
    margin: 8px;
    max-width: 50%;
    &-main{
      @media (min-width: 768px) {
        font-size: 22px;
      }
      font-size: 18px;
    }
  }

  &__table-container {
    display: grid;
    grid-template-columns: 1fr 15fr;
    gap: 10px;
    padding: 10px;
  }

  &__row{
    display: contents;
  }
}