.menu-page{
  height: 90vh;
  width: 20vw;
  padding-top: 20px;
  border-right: black 1px solid;
  &-item{
    width: 100%;
    cursor: pointer;
    &:active{
      background: dimgrey;
    }
  }
  &-text{
    color: #000;
    margin-left: 20px;
  }

  &-selected{
    background: lightgray;
  }
}